--
-- PostgreSQL database dump
--

\restrict PXVsLHOubrIPCgzl1LhDgUhbv2KIdD6j9Ogg9chWrqRLRWlzJrX1C1hRKzNacD1

-- Dumped from database version 16.14 (Debian 16.14-1.pgdg13+1)
-- Dumped by pg_dump version 16.14 (Debian 16.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: shop_user
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO shop_user;

--
-- Name: audit_log; Type: TABLE; Schema: public; Owner: shop_user
--

CREATE TABLE public.audit_log (
    id integer NOT NULL,
    "timestamp" timestamp with time zone DEFAULT now() NOT NULL,
    level character varying(8) NOT NULL,
    user_id bigint,
    action character varying(64) NOT NULL,
    resource_type character varying(32),
    resource_id character varying(128),
    details text,
    ip_address character varying(45)
);


ALTER TABLE public.audit_log OWNER TO shop_user;

--
-- Name: audit_log_id_seq; Type: SEQUENCE; Schema: public; Owner: shop_user
--

CREATE SEQUENCE public.audit_log_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.audit_log_id_seq OWNER TO shop_user;

--
-- Name: audit_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: shop_user
--

ALTER SEQUENCE public.audit_log_id_seq OWNED BY public.audit_log.id;


--
-- Name: bought_goods; Type: TABLE; Schema: public; Owner: shop_user
--

CREATE TABLE public.bought_goods (
    id integer NOT NULL,
    item_name character varying(100) NOT NULL,
    value text NOT NULL,
    price numeric(12,2) NOT NULL,
    buyer_id bigint NOT NULL,
    bought_datetime timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    unique_id bigint NOT NULL
);


ALTER TABLE public.bought_goods OWNER TO shop_user;

--
-- Name: bought_goods_id_seq; Type: SEQUENCE; Schema: public; Owner: shop_user
--

CREATE SEQUENCE public.bought_goods_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.bought_goods_id_seq OWNER TO shop_user;

--
-- Name: bought_goods_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: shop_user
--

ALTER SEQUENCE public.bought_goods_id_seq OWNED BY public.bought_goods.id;


--
-- Name: cart_items; Type: TABLE; Schema: public; Owner: shop_user
--

CREATE TABLE public.cart_items (
    id integer NOT NULL,
    user_id bigint NOT NULL,
    item_name character varying(100) NOT NULL,
    promo_code character varying(50),
    added_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.cart_items OWNER TO shop_user;

--
-- Name: cart_items_id_seq; Type: SEQUENCE; Schema: public; Owner: shop_user
--

CREATE SEQUENCE public.cart_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.cart_items_id_seq OWNER TO shop_user;

--
-- Name: cart_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: shop_user
--

ALTER SEQUENCE public.cart_items_id_seq OWNED BY public.cart_items.id;


--
-- Name: categories; Type: TABLE; Schema: public; Owner: shop_user
--

CREATE TABLE public.categories (
    id integer NOT NULL,
    name character varying(100) NOT NULL
);


ALTER TABLE public.categories OWNER TO shop_user;

--
-- Name: categories_new_id_seq; Type: SEQUENCE; Schema: public; Owner: shop_user
--

CREATE SEQUENCE public.categories_new_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.categories_new_id_seq OWNER TO shop_user;

--
-- Name: categories_new_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: shop_user
--

ALTER SEQUENCE public.categories_new_id_seq OWNED BY public.categories.id;


--
-- Name: goods; Type: TABLE; Schema: public; Owner: shop_user
--

CREATE TABLE public.goods (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    price numeric(12,2) NOT NULL,
    description text NOT NULL,
    category_id integer NOT NULL
);


ALTER TABLE public.goods OWNER TO shop_user;

--
-- Name: goods_new_id_seq; Type: SEQUENCE; Schema: public; Owner: shop_user
--

CREATE SEQUENCE public.goods_new_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.goods_new_id_seq OWNER TO shop_user;

--
-- Name: goods_new_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: shop_user
--

ALTER SEQUENCE public.goods_new_id_seq OWNED BY public.goods.id;


--
-- Name: item_values; Type: TABLE; Schema: public; Owner: shop_user
--

CREATE TABLE public.item_values (
    id integer NOT NULL,
    item_id integer NOT NULL,
    value text,
    is_infinity boolean NOT NULL
);


ALTER TABLE public.item_values OWNER TO shop_user;

--
-- Name: item_values_new_id_seq; Type: SEQUENCE; Schema: public; Owner: shop_user
--

CREATE SEQUENCE public.item_values_new_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.item_values_new_id_seq OWNER TO shop_user;

--
-- Name: item_values_new_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: shop_user
--

ALTER SEQUENCE public.item_values_new_id_seq OWNED BY public.item_values.id;


--
-- Name: operations; Type: TABLE; Schema: public; Owner: shop_user
--

CREATE TABLE public.operations (
    id integer NOT NULL,
    user_id bigint,
    operation_value numeric(12,2) NOT NULL,
    operation_time timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.operations OWNER TO shop_user;

--
-- Name: operations_id_seq; Type: SEQUENCE; Schema: public; Owner: shop_user
--

CREATE SEQUENCE public.operations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.operations_id_seq OWNER TO shop_user;

--
-- Name: operations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: shop_user
--

ALTER SEQUENCE public.operations_id_seq OWNED BY public.operations.id;


--
-- Name: payments; Type: TABLE; Schema: public; Owner: shop_user
--

CREATE TABLE public.payments (
    id integer NOT NULL,
    provider character varying(32) NOT NULL,
    external_id character varying(128) NOT NULL,
    user_id bigint,
    amount numeric(12,2) NOT NULL,
    currency character varying(8) NOT NULL,
    status character varying(16) DEFAULT 'pending'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.payments OWNER TO shop_user;

--
-- Name: payments_id_seq; Type: SEQUENCE; Schema: public; Owner: shop_user
--

CREATE SEQUENCE public.payments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.payments_id_seq OWNER TO shop_user;

--
-- Name: payments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: shop_user
--

ALTER SEQUENCE public.payments_id_seq OWNED BY public.payments.id;


--
-- Name: promo_code_usages; Type: TABLE; Schema: public; Owner: shop_user
--

CREATE TABLE public.promo_code_usages (
    id integer NOT NULL,
    promo_id integer NOT NULL,
    user_id bigint NOT NULL,
    used_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.promo_code_usages OWNER TO shop_user;

--
-- Name: promo_code_usages_id_seq; Type: SEQUENCE; Schema: public; Owner: shop_user
--

CREATE SEQUENCE public.promo_code_usages_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.promo_code_usages_id_seq OWNER TO shop_user;

--
-- Name: promo_code_usages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: shop_user
--

ALTER SEQUENCE public.promo_code_usages_id_seq OWNED BY public.promo_code_usages.id;


--
-- Name: promo_codes; Type: TABLE; Schema: public; Owner: shop_user
--

CREATE TABLE public.promo_codes (
    id integer NOT NULL,
    code character varying(50) NOT NULL,
    discount_type character varying(10) NOT NULL,
    discount_value numeric(12,2) NOT NULL,
    max_uses integer DEFAULT 0 NOT NULL,
    current_uses integer DEFAULT 0 NOT NULL,
    expires_at timestamp with time zone,
    category_id integer,
    item_id integer,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.promo_codes OWNER TO shop_user;

--
-- Name: promo_codes_id_seq; Type: SEQUENCE; Schema: public; Owner: shop_user
--

CREATE SEQUENCE public.promo_codes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.promo_codes_id_seq OWNER TO shop_user;

--
-- Name: promo_codes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: shop_user
--

ALTER SEQUENCE public.promo_codes_id_seq OWNED BY public.promo_codes.id;


--
-- Name: referral_earnings; Type: TABLE; Schema: public; Owner: shop_user
--

CREATE TABLE public.referral_earnings (
    id integer NOT NULL,
    referrer_id bigint NOT NULL,
    referral_id bigint NOT NULL,
    amount numeric(12,2) NOT NULL,
    original_amount numeric(12,2) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT ck_referral_earnings_no_self_referral CHECK ((referrer_id <> referral_id))
);


ALTER TABLE public.referral_earnings OWNER TO shop_user;

--
-- Name: referral_earnings_id_seq; Type: SEQUENCE; Schema: public; Owner: shop_user
--

CREATE SEQUENCE public.referral_earnings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.referral_earnings_id_seq OWNER TO shop_user;

--
-- Name: referral_earnings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: shop_user
--

ALTER SEQUENCE public.referral_earnings_id_seq OWNED BY public.referral_earnings.id;


--
-- Name: reviews; Type: TABLE; Schema: public; Owner: shop_user
--

CREATE TABLE public.reviews (
    id integer NOT NULL,
    user_id bigint NOT NULL,
    item_name character varying(100) NOT NULL,
    rating integer NOT NULL,
    text text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT ck_review_rating_range CHECK (((rating >= 1) AND (rating <= 5)))
);


ALTER TABLE public.reviews OWNER TO shop_user;

--
-- Name: reviews_id_seq; Type: SEQUENCE; Schema: public; Owner: shop_user
--

CREATE SEQUENCE public.reviews_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.reviews_id_seq OWNER TO shop_user;

--
-- Name: reviews_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: shop_user
--

ALTER SEQUENCE public.reviews_id_seq OWNED BY public.reviews.id;


--
-- Name: roles; Type: TABLE; Schema: public; Owner: shop_user
--

CREATE TABLE public.roles (
    id integer NOT NULL,
    name character varying(64),
    "default" boolean,
    permissions integer
);


ALTER TABLE public.roles OWNER TO shop_user;

--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: shop_user
--

CREATE SEQUENCE public.roles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.roles_id_seq OWNER TO shop_user;

--
-- Name: roles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: shop_user
--

ALTER SEQUENCE public.roles_id_seq OWNED BY public.roles.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: shop_user
--

CREATE TABLE public.users (
    telegram_id bigint NOT NULL,
    role_id integer,
    balance numeric(12,2) DEFAULT '0'::numeric NOT NULL,
    referral_id bigint,
    registration_date timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    is_blocked boolean,
    CONSTRAINT ck_users_no_self_referral CHECK ((referral_id <> telegram_id))
);


ALTER TABLE public.users OWNER TO shop_user;

--
-- Name: users_telegram_id_seq; Type: SEQUENCE; Schema: public; Owner: shop_user
--

CREATE SEQUENCE public.users_telegram_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_telegram_id_seq OWNER TO shop_user;

--
-- Name: users_telegram_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: shop_user
--

ALTER SEQUENCE public.users_telegram_id_seq OWNED BY public.users.telegram_id;


--
-- Name: audit_log id; Type: DEFAULT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.audit_log ALTER COLUMN id SET DEFAULT nextval('public.audit_log_id_seq'::regclass);


--
-- Name: bought_goods id; Type: DEFAULT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.bought_goods ALTER COLUMN id SET DEFAULT nextval('public.bought_goods_id_seq'::regclass);


--
-- Name: cart_items id; Type: DEFAULT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.cart_items ALTER COLUMN id SET DEFAULT nextval('public.cart_items_id_seq'::regclass);


--
-- Name: categories id; Type: DEFAULT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.categories ALTER COLUMN id SET DEFAULT nextval('public.categories_new_id_seq'::regclass);


--
-- Name: goods id; Type: DEFAULT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.goods ALTER COLUMN id SET DEFAULT nextval('public.goods_new_id_seq'::regclass);


--
-- Name: item_values id; Type: DEFAULT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.item_values ALTER COLUMN id SET DEFAULT nextval('public.item_values_new_id_seq'::regclass);


--
-- Name: operations id; Type: DEFAULT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.operations ALTER COLUMN id SET DEFAULT nextval('public.operations_id_seq'::regclass);


--
-- Name: payments id; Type: DEFAULT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.payments ALTER COLUMN id SET DEFAULT nextval('public.payments_id_seq'::regclass);


--
-- Name: promo_code_usages id; Type: DEFAULT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.promo_code_usages ALTER COLUMN id SET DEFAULT nextval('public.promo_code_usages_id_seq'::regclass);


--
-- Name: promo_codes id; Type: DEFAULT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.promo_codes ALTER COLUMN id SET DEFAULT nextval('public.promo_codes_id_seq'::regclass);


--
-- Name: referral_earnings id; Type: DEFAULT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.referral_earnings ALTER COLUMN id SET DEFAULT nextval('public.referral_earnings_id_seq'::regclass);


--
-- Name: reviews id; Type: DEFAULT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.reviews ALTER COLUMN id SET DEFAULT nextval('public.reviews_id_seq'::regclass);


--
-- Name: roles id; Type: DEFAULT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.roles ALTER COLUMN id SET DEFAULT nextval('public.roles_id_seq'::regclass);


--
-- Name: users telegram_id; Type: DEFAULT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.users ALTER COLUMN telegram_id SET DEFAULT nextval('public.users_telegram_id_seq'::regclass);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: shop_user
--

COPY public.alembic_version (version_num) FROM stdin;
e5f6a7b8c9d0
\.


--
-- Data for Name: audit_log; Type: TABLE DATA; Schema: public; Owner: shop_user
--



--
-- Data for Name: bought_goods; Type: TABLE DATA; Schema: public; Owner: shop_user
--



--
-- Data for Name: cart_items; Type: TABLE DATA; Schema: public; Owner: shop_user
--

COPY public.cart_items (id, user_id, item_name, promo_code, added_at) FROM stdin;
1	6469038641	Gemini Pro Test	\N	2026-07-09 17:36:17.935804+00
2	6469038641	Gemini Pro Test	\N	2026-07-09 17:36:23.31613+00
3	6469038641	Gemini Pro Test	\N	2026-07-09 17:36:29.561046+00
4	6469038641	Gemini Pro Test	\N	2026-07-09 17:37:08.58289+00
5	6469038641	Gemini Pro Test	\N	2026-07-09 17:37:10.195152+00
\.


--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: shop_user
--

COPY public.categories (id, name) FROM stdin;
1	≡ادب AI Tools
2	≡اش Editing & Design
3	≡اô║ Entertainment
4	≡اôê Social Media Growth
5	Google
\.


--
-- Data for Name: goods; Type: TABLE DATA; Schema: public; Owner: shop_user
--

COPY public.goods (id, name, price, description, category_id) FROM stdin;
1	Gemini Pro Test	1.00	Test digital subscription delivery	1
\.


--
-- Data for Name: item_values; Type: TABLE DATA; Schema: public; Owner: shop_user
--

COPY public.item_values (id, item_id, value, is_infinity) FROM stdin;
\.


--
-- Data for Name: operations; Type: TABLE DATA; Schema: public; Owner: shop_user
--

COPY public.operations (id, user_id, operation_value, operation_time) FROM stdin;
\.


--
-- Data for Name: payments; Type: TABLE DATA; Schema: public; Owner: shop_user
--

COPY public.payments (id, provider, external_id, user_id, amount, currency, status, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: promo_code_usages; Type: TABLE DATA; Schema: public; Owner: shop_user
--

COPY public.promo_code_usages (id, promo_id, user_id, used_at) FROM stdin;
\.


--
-- Data for Name: promo_codes; Type: TABLE DATA; Schema: public; Owner: shop_user
--

COPY public.promo_codes (id, code, discount_type, discount_value, max_uses, current_uses, expires_at, category_id, item_id, is_active, created_at) FROM stdin;
\.


--
-- Data for Name: referral_earnings; Type: TABLE DATA; Schema: public; Owner: shop_user
--

COPY public.referral_earnings (id, referrer_id, referral_id, amount, original_amount, created_at) FROM stdin;
\.


--
-- Data for Name: reviews; Type: TABLE DATA; Schema: public; Owner: shop_user
--

COPY public.reviews (id, user_id, item_name, rating, text, created_at) FROM stdin;
\.


--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: shop_user
--

COPY public.roles (id, name, "default", permissions) FROM stdin;
1	USER	t	1
2	ADMIN	f	927
3	OWNER	f	1023
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: shop_user
--

COPY public.users (telegram_id, role_id, balance, referral_id, registration_date, is_blocked) FROM stdin;
6469038641	3	9985.00	\N	2026-07-09 17:03:26+00	f
\.


--
-- Name: audit_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shop_user
--

SELECT pg_catalog.setval('public.audit_log_id_seq', 56, true);


--
-- Name: bought_goods_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shop_user
--

SELECT pg_catalog.setval('public.bought_goods_id_seq', 10, true);


--
-- Name: cart_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shop_user
--

SELECT pg_catalog.setval('public.cart_items_id_seq', 5, true);


--
-- Name: categories_new_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shop_user
--

SELECT pg_catalog.setval('public.categories_new_id_seq', 5, true);


--
-- Name: goods_new_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shop_user
--

SELECT pg_catalog.setval('public.goods_new_id_seq', 1, true);


--
-- Name: item_values_new_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shop_user
--

SELECT pg_catalog.setval('public.item_values_new_id_seq', 20, true);


--
-- Name: operations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shop_user
--

SELECT pg_catalog.setval('public.operations_id_seq', 1, false);


--
-- Name: payments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shop_user
--

SELECT pg_catalog.setval('public.payments_id_seq', 1, false);


--
-- Name: promo_code_usages_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shop_user
--

SELECT pg_catalog.setval('public.promo_code_usages_id_seq', 1, false);


--
-- Name: promo_codes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shop_user
--

SELECT pg_catalog.setval('public.promo_codes_id_seq', 1, false);


--
-- Name: referral_earnings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shop_user
--

SELECT pg_catalog.setval('public.referral_earnings_id_seq', 1, false);


--
-- Name: reviews_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shop_user
--

SELECT pg_catalog.setval('public.reviews_id_seq', 1, false);


--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shop_user
--

SELECT pg_catalog.setval('public.roles_id_seq', 3, true);


--
-- Name: users_telegram_id_seq; Type: SEQUENCE SET; Schema: public; Owner: shop_user
--

SELECT pg_catalog.setval('public.users_telegram_id_seq', 1, false);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: audit_log audit_log_pkey; Type: CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.audit_log
    ADD CONSTRAINT audit_log_pkey PRIMARY KEY (id);


--
-- Name: bought_goods bought_goods_pkey; Type: CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.bought_goods
    ADD CONSTRAINT bought_goods_pkey PRIMARY KEY (id);


--
-- Name: bought_goods bought_goods_unique_id_key; Type: CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.bought_goods
    ADD CONSTRAINT bought_goods_unique_id_key UNIQUE (unique_id);


--
-- Name: cart_items cart_items_pkey; Type: CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.cart_items
    ADD CONSTRAINT cart_items_pkey PRIMARY KEY (id);


--
-- Name: categories categories_new_name_key; Type: CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_new_name_key UNIQUE (name);


--
-- Name: categories categories_new_pkey; Type: CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_new_pkey PRIMARY KEY (id);


--
-- Name: goods goods_new_name_key; Type: CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.goods
    ADD CONSTRAINT goods_new_name_key UNIQUE (name);


--
-- Name: goods goods_new_pkey; Type: CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.goods
    ADD CONSTRAINT goods_new_pkey PRIMARY KEY (id);


--
-- Name: item_values item_values_new_pkey; Type: CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.item_values
    ADD CONSTRAINT item_values_new_pkey PRIMARY KEY (id);


--
-- Name: operations operations_pkey; Type: CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.operations
    ADD CONSTRAINT operations_pkey PRIMARY KEY (id);


--
-- Name: payments payments_pkey; Type: CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_pkey PRIMARY KEY (id);


--
-- Name: promo_code_usages promo_code_usages_pkey; Type: CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.promo_code_usages
    ADD CONSTRAINT promo_code_usages_pkey PRIMARY KEY (id);


--
-- Name: promo_codes promo_codes_pkey; Type: CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.promo_codes
    ADD CONSTRAINT promo_codes_pkey PRIMARY KEY (id);


--
-- Name: referral_earnings referral_earnings_pkey; Type: CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.referral_earnings
    ADD CONSTRAINT referral_earnings_pkey PRIMARY KEY (id);


--
-- Name: reviews reviews_pkey; Type: CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_pkey PRIMARY KEY (id);


--
-- Name: roles roles_name_key; Type: CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_name_key UNIQUE (name);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: item_values uq_item_value_per_item_new; Type: CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.item_values
    ADD CONSTRAINT uq_item_value_per_item_new UNIQUE (item_id, value);


--
-- Name: payments uq_payment_provider_ext; Type: CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT uq_payment_provider_ext UNIQUE (provider, external_id);


--
-- Name: promo_code_usages uq_promo_usage_per_user; Type: CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.promo_code_usages
    ADD CONSTRAINT uq_promo_usage_per_user UNIQUE (promo_id, user_id);


--
-- Name: reviews uq_review_per_user_item; Type: CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT uq_review_per_user_item UNIQUE (user_id, item_name);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (telegram_id);


--
-- Name: ix_audit_log_action; Type: INDEX; Schema: public; Owner: shop_user
--

CREATE INDEX ix_audit_log_action ON public.audit_log USING btree (action);


--
-- Name: ix_audit_log_timestamp; Type: INDEX; Schema: public; Owner: shop_user
--

CREATE INDEX ix_audit_log_timestamp ON public.audit_log USING btree ("timestamp");


--
-- Name: ix_audit_log_user_id; Type: INDEX; Schema: public; Owner: shop_user
--

CREATE INDEX ix_audit_log_user_id ON public.audit_log USING btree (user_id);


--
-- Name: ix_bought_goods_buyer_datetime; Type: INDEX; Schema: public; Owner: shop_user
--

CREATE INDEX ix_bought_goods_buyer_datetime ON public.bought_goods USING btree (buyer_id, bought_datetime);


--
-- Name: ix_bought_goods_buyer_id; Type: INDEX; Schema: public; Owner: shop_user
--

CREATE INDEX ix_bought_goods_buyer_id ON public.bought_goods USING btree (buyer_id);


--
-- Name: ix_bought_goods_datetime; Type: INDEX; Schema: public; Owner: shop_user
--

CREATE INDEX ix_bought_goods_datetime ON public.bought_goods USING btree (bought_datetime);


--
-- Name: ix_cart_items_user_id; Type: INDEX; Schema: public; Owner: shop_user
--

CREATE INDEX ix_cart_items_user_id ON public.cart_items USING btree (user_id);


--
-- Name: ix_goods_new_category_id; Type: INDEX; Schema: public; Owner: shop_user
--

CREATE INDEX ix_goods_new_category_id ON public.goods USING btree (category_id);


--
-- Name: ix_item_values_new_item_id; Type: INDEX; Schema: public; Owner: shop_user
--

CREATE INDEX ix_item_values_new_item_id ON public.item_values USING btree (item_id);


--
-- Name: ix_item_values_new_item_inf; Type: INDEX; Schema: public; Owner: shop_user
--

CREATE INDEX ix_item_values_new_item_inf ON public.item_values USING btree (item_id, is_infinity);


--
-- Name: ix_operations_time; Type: INDEX; Schema: public; Owner: shop_user
--

CREATE INDEX ix_operations_time ON public.operations USING btree (operation_time);


--
-- Name: ix_operations_user_id; Type: INDEX; Schema: public; Owner: shop_user
--

CREATE INDEX ix_operations_user_id ON public.operations USING btree (user_id);


--
-- Name: ix_payments_provider; Type: INDEX; Schema: public; Owner: shop_user
--

CREATE INDEX ix_payments_provider ON public.payments USING btree (provider);


--
-- Name: ix_payments_status_created; Type: INDEX; Schema: public; Owner: shop_user
--

CREATE INDEX ix_payments_status_created ON public.payments USING btree (status, created_at);


--
-- Name: ix_payments_user_id; Type: INDEX; Schema: public; Owner: shop_user
--

CREATE INDEX ix_payments_user_id ON public.payments USING btree (user_id);


--
-- Name: ix_promo_codes_code; Type: INDEX; Schema: public; Owner: shop_user
--

CREATE UNIQUE INDEX ix_promo_codes_code ON public.promo_codes USING btree (code);


--
-- Name: ix_promo_codes_is_active; Type: INDEX; Schema: public; Owner: shop_user
--

CREATE INDEX ix_promo_codes_is_active ON public.promo_codes USING btree (is_active);


--
-- Name: ix_referral_earnings_referral_created; Type: INDEX; Schema: public; Owner: shop_user
--

CREATE INDEX ix_referral_earnings_referral_created ON public.referral_earnings USING btree (referral_id, created_at);


--
-- Name: ix_referral_earnings_referral_id; Type: INDEX; Schema: public; Owner: shop_user
--

CREATE INDEX ix_referral_earnings_referral_id ON public.referral_earnings USING btree (referral_id);


--
-- Name: ix_referral_earnings_referrer_created; Type: INDEX; Schema: public; Owner: shop_user
--

CREATE INDEX ix_referral_earnings_referrer_created ON public.referral_earnings USING btree (referrer_id, created_at);


--
-- Name: ix_referral_earnings_referrer_id; Type: INDEX; Schema: public; Owner: shop_user
--

CREATE INDEX ix_referral_earnings_referrer_id ON public.referral_earnings USING btree (referrer_id);


--
-- Name: ix_reviews_item_name; Type: INDEX; Schema: public; Owner: shop_user
--

CREATE INDEX ix_reviews_item_name ON public.reviews USING btree (item_name);


--
-- Name: ix_reviews_user_id; Type: INDEX; Schema: public; Owner: shop_user
--

CREATE INDEX ix_reviews_user_id ON public.reviews USING btree (user_id);


--
-- Name: ix_roles_default; Type: INDEX; Schema: public; Owner: shop_user
--

CREATE INDEX ix_roles_default ON public.roles USING btree ("default");


--
-- Name: ix_users_is_blocked; Type: INDEX; Schema: public; Owner: shop_user
--

CREATE INDEX ix_users_is_blocked ON public.users USING btree (is_blocked);


--
-- Name: ix_users_referral_id; Type: INDEX; Schema: public; Owner: shop_user
--

CREATE INDEX ix_users_referral_id ON public.users USING btree (referral_id);


--
-- Name: ix_users_registration_date; Type: INDEX; Schema: public; Owner: shop_user
--

CREATE INDEX ix_users_registration_date ON public.users USING btree (registration_date);


--
-- Name: ix_users_role_id; Type: INDEX; Schema: public; Owner: shop_user
--

CREATE INDEX ix_users_role_id ON public.users USING btree (role_id);


--
-- Name: bought_goods bought_goods_buyer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.bought_goods
    ADD CONSTRAINT bought_goods_buyer_id_fkey FOREIGN KEY (buyer_id) REFERENCES public.users(telegram_id);


--
-- Name: cart_items cart_items_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.cart_items
    ADD CONSTRAINT cart_items_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(telegram_id) ON DELETE CASCADE;


--
-- Name: users fk_users_referral_id_users; Type: FK CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT fk_users_referral_id_users FOREIGN KEY (referral_id) REFERENCES public.users(telegram_id) ON DELETE SET NULL;


--
-- Name: users fk_users_role_id_roles; Type: FK CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT fk_users_role_id_roles FOREIGN KEY (role_id) REFERENCES public.roles(id) ON DELETE RESTRICT;


--
-- Name: goods goods_new_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.goods
    ADD CONSTRAINT goods_new_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(id) ON DELETE CASCADE;


--
-- Name: item_values item_values_new_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.item_values
    ADD CONSTRAINT item_values_new_item_id_fkey FOREIGN KEY (item_id) REFERENCES public.goods(id) ON DELETE CASCADE;


--
-- Name: operations operations_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.operations
    ADD CONSTRAINT operations_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(telegram_id) ON DELETE SET NULL;


--
-- Name: payments payments_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(telegram_id) ON DELETE SET NULL;


--
-- Name: promo_code_usages promo_code_usages_promo_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.promo_code_usages
    ADD CONSTRAINT promo_code_usages_promo_id_fkey FOREIGN KEY (promo_id) REFERENCES public.promo_codes(id) ON DELETE CASCADE;


--
-- Name: promo_code_usages promo_code_usages_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.promo_code_usages
    ADD CONSTRAINT promo_code_usages_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(telegram_id) ON DELETE CASCADE;


--
-- Name: promo_codes promo_codes_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.promo_codes
    ADD CONSTRAINT promo_codes_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(id) ON DELETE SET NULL;


--
-- Name: promo_codes promo_codes_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.promo_codes
    ADD CONSTRAINT promo_codes_item_id_fkey FOREIGN KEY (item_id) REFERENCES public.goods(id) ON DELETE SET NULL;


--
-- Name: referral_earnings referral_earnings_referral_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.referral_earnings
    ADD CONSTRAINT referral_earnings_referral_id_fkey FOREIGN KEY (referral_id) REFERENCES public.users(telegram_id) ON DELETE CASCADE;


--
-- Name: referral_earnings referral_earnings_referrer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.referral_earnings
    ADD CONSTRAINT referral_earnings_referrer_id_fkey FOREIGN KEY (referrer_id) REFERENCES public.users(telegram_id) ON DELETE CASCADE;


--
-- Name: reviews reviews_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(telegram_id) ON DELETE CASCADE;


--
-- Name: users users_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: shop_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.roles(id);


--
-- PostgreSQL database dump complete
--

\unrestrict PXVsLHOubrIPCgzl1LhDgUhbv2KIdD6j9Ogg9chWrqRLRWlzJrX1C1hRKzNacD1

